<link rel="stylesheet" href="../assets/css/index.css">

<div class="main">
    <h1>SIERRA MOORE</h1>
    <h2>[ ABOUT ]</h2>
    <img align="left" src="../assets/images/sm.jpg" class="sidepic"/>
    <p>Hello, my name is Sierra Moore. I am a <font color="#72acd6">Front End Web Developer</font>
        based in Barcelona, Spain with a special interest in functional design and animation.
        My goal is to make the web a more beautiful place. A few of my favorite things are art, tea, and guitar. </p>




<!--    <div align="center">-->
<!--        <img src="../assets/images/signature.jpg" class="sig"/>-->
<!--    </div>-->

    <div class="icons">
        <a href="https://www.linkedin.com/in/sierra-moore" target="_blank"><i class="fa fa-linkedin-square" aria-hidden="true"></i></a>
        <a href="https://github.com/sierramoore" target="_blank"><i class="fa fa-github" aria-hidden="true"></i></a>
        <a href="mailto:sierra.v.moore@gmail.com"><i class="fa fa-envelope-square" aria-hidden="true"></i></a>
    </div>
</div>


