<link rel="stylesheet" href="../assets/css/projects.css">

<div style="text-align: center">
    <h1>Projects</h1>
</div>
<ul class="project-container">

    <a href="https://harborhq.com" target="_blank"><li>Harbor HQ</li>
        <img src="../assets/images/harborhq.png" alt="Space Wars Game"/></a>


    <a href="https://perfectionpaintingsb.com" target="_blank"><li>Perfection Painting SB</li>
        <img src="../assets/images/perfectionpainting.png" alt="Perfection Painting SB"/></a>


<!--    <a href="#" target="_blank"><li>Old Vest HQ</li>-->
<!--        <img src="../assets/images/employees.png" alt="Vest HQ"/></a>-->

    <a href="https://vesthq.com" target="_blank"><li>Vest HQ</li>
        <img src="../assets/images/vest.png" alt="Vest HQ"/></a>

    <a href="https://vesthq.com/features" target="_blank"><li>Vest Features</li>
        <img src="../assets/images/vest_features.png" alt="Vest HQ"/></a>

</ul>

<div class="icons">
    <a href="https://www.linkedin.com/in/sierra-moore" target="_blank"><i class="fa fa-linkedin-square" aria-hidden="true"></i></a>
    <a href="https://github.com/sierramoore" target="_blank"><i class="fa fa-github" aria-hidden="true"></i></a>
    <a href="mailto:sierra.v.moore@gmail.com"><i class="fa fa-envelope-square" aria-hidden="true"></i></a>
</div>