<link rel="stylesheet" href="../assets/css/projects.css">

<div style="text-align: center">
    <h1>Projects</h1>
</div>
<ul>
    <a href="https://sierramoore.github.io/3D-Space-Wars-Game/" target="_blank"><li>3D Game - Space Wars</li>
        <img src="../assets/images/spaceWars.png" alt="Space Wars Game"/></a>
    <p>A two player game competing over taking the most resources first. Incorporates texture mapping, generation of game objects, and particle effects.
        Built using BabylonJS, HTML5, and CSS.</p>

    <a href="https://sierramoore.github.io/vampire-game" target="_blank"><li>2D Game - Avoid the Windows</li>
        <img src="../assets/images/vampGame.png" alt="Vampire Game"/></a>
    <p>An avoiding obstacle game that incorporates collision detection, animation, score and health tracking.
        Created mainly using HTML5 Canvas and JavaScript.</p>


    <a href="https://my-movie-list-sierra.herokuapp.com/users/register" target="_blank"><li>Full stack Movie Catalog Website</li>
        <img src="../assets/images/my_movie_list.png" alt="Full stack Movie Catalog Website"/></a>
    <p>Used TMDb API to query selected data about movies. Created user login, and preferences selection
        for user to select favorite genres, and a watchlist page where user could store their selected
        movies. Created in a team with two other classmates using JavaScript, Node.js, CSS, EJS, MongoDB, and Express.
    </p>


    <a href="https://lookbookcouleur.herokuapp.com/" target="_blank"><li>Full stack Fashion Catalog Service</li>
        <img src="../assets/images/lookbook.png" alt="Full stack Fashion Catalog Service"/></a>
    <p>In partnership with a classmate, created an application that allows the registered users to upload images
        from other web pages and save them along with their source url and a color tag. Created using React,
        Sinatra, and Express.</p>


    <a href="https://sierramoore.github.io/maars" target="_blank"><li>Restaurant POS Website</li>
        <img src="../assets/images/restaurant_project.jpg" alt="Restaurant POS Website"/></a>
    <p>Is a school team project I worked on to make a restaurant POS website.<br>
        <br>- Teacher acted as stakeholder
        <br>- Wrote a requirements document based on stakeholder specifications
        <br>- Coded using agile methodology
        <br>- Preformed majority of coding using html, css, and javascript
        <br>- Designed and documented test cases in Jira
        <br>- Tested functional and non-functional requirements
        <br>- Executed exploratory and manual testing
        <br>- Fixed reported bugs in code
        <br>- Regression tested
    </p>

</ul>

<div class="icons">
    <a href="https://www.linkedin.com/in/sierra-moore" target="_blank"><i class="fa fa-linkedin-square" aria-hidden="true"></i></a>
    <a href="https://github.com/sierramoore" target="_blank"><i class="fa fa-github" aria-hidden="true"></i></a>
    <a href="mailto:sierra.v.moore@gmail.com"><i class="fa fa-envelope-square" aria-hidden="true"></i></a>
</div>