<link rel="stylesheet" href="../assets/css/resume.css">

<h1>Sierra Moore</h1>
<h4>Chicago, IL</h4>
<div class="icons">
    <a href="https://www.linkedin.com/in/sierra-moore" target="_blank"><i class="fa fa-linkedin-square" aria-hidden="true"></i></a>
    <a href="https://github.com/sierramoore" target="_blank"><i class="fa fa-github" aria-hidden="true"></i></a>
    <a href="mailto:sierra.v.moore@gmail.com"><i class="fa fa-envelope-square" aria-hidden="true"></i></a>
</div>

<h2>Summary</h2><br>
<p>I'm a continuous learner, with a passion for front-end web technologies.
    I'm naturally observant and attentive to detail. With my background in hairdressing,
    I know how to collaborate with a client to refine their ideas and ensure that they get
    the result they are looking for.</p><p class="bottom"></p>

<h2>Skills & Tools</h2>

<div class="column">
    <span>
        <h3 style="width: 100%">Programming Languages</h3>
        <ul>
            <li>HTML5</li>
            <li>CSS, SASS</li>
            <li>JavaScript</li>
            <li>React</li>
            <li>Node</li>
            <li>jQuery</li>
        </ul>
    </span>
    <span>
        <h3>Tools</h3>
        <ul>
            <li>Git / GitHub</li>
            <li>WebStorm</li>
            <li>Jira</li>
        </ul>
    </span>
    <span>
        <h3>Other</h3>
        <ul>
            <li>SDLC</li>
            <li>Manual Testing</li>
            <li>Regression Testing</li>
            <li>Creating Test Cases</li>
        </ul>
    </span><p class="bottom"></p>
</div>
<h2>Portfolio</h2>
<h3><a href="#0" target="_blank">Websites for Vest</a></h3>
<p>Built static informational and marketing sites for <a href="https://vesthq.com" target="_blank">vest</a>, <a href="https://harborhq.com/" target="_blank">harbor</a> and <a href=https://manifestledger.com/" target="_blank">manifest ledger</a>. Optimized sites with security, responsivity, and SEO.</p>

<h3><a href="https://sierramoore.github.io/3D-Space-Wars-Game/" target="_blank">3D Game - Space Wars</a></h3>
<p>A two player game competing over taking the most resources first. Incorporates texture mapping, generation of game objects, and particle effects.
    Built using babylon.js, HTML5, and CSS.</p>

<h3><a href="https://github.com/sierramoore/vampire-game">2D Canvas Game</a></h3>
<p>An avoiding obstacle game that incorporates collision detection, animation, score and health tracking.
    Created mainly using HTML5 Canvas and JavaScript.</p>

<h3><a href="https://my-movie-list-sierra.herokuapp.com/users/register">Full stack Movie Catalog Website</a></h3><p>Used TMDb API to query selected data about movies. Created user login, and preferences selection
    for user to select favorite genres, and a watchlist page where user could store their selected
    movies. Created in a team with two other classmates using JavaScript, Node.js, CSS, EJS, MongoDB, and Express.
</p>

<h3><a href="https://sierramoore.github.io/maars" target="_blank">Restaurant Website Coded & Tested</a></h3>
<p>Created a restaurant POS system based on a requirement document.
    Made wireframes and user stories. Coded in JavaScript, HTML, and CSS. Designed and documented test cases. Executed the tests via manual testing.</p> <p class="bottom"></p>


<h2>Education</h2>

<h3>General Assembly, Chicago, IL<span>3/2018</span></h3>
<p>600&#43; Hour Full Stack Web Development Program <br>
    Focused on learning best practices in object-oriented programming,
    MVC frameworks, front-end frameworks, building and using APIs, and collaborating with classmates in an agile workflow. </p>

<h3>Per Scholas, Bronx, NY<span>9/2017</span></h3>
<p>300&#43; Software Testing Training Course in partnership with Tech Talent Pipeline <br>
    Focused on learning software development methodologies, software
    testing methodologies, and programming fundamentals.
</p>

<h3>City College, Santa Barbara CA<span>11/2013</span></h3>
<p>Cosmetology Academy</p><p class="bottom"></p>


<h2>Work Experience</h2>
<h3>Front-end Web Developer, Vest, Chicago, IL<span>5/2018 - present</span></h3>
<h3>Hairstylist, Kolorbar, Manhattan, NY<span>12/2016 - 3/2017</span></h3>
<h3>Hairstylist, The Color Room, Santa Barbara, CA<span>11/2013 - 3/2016</span></h3>

<p class="bottomest"></p>
<span class="download"><a download="Sierra_Moore_Resume" href="../assets/docs/sierra_moore_resume.docx.pdf"><i class="fa fa-file-pdf-o" aria-hidden="true"></i> Download PDF</a></span>
