<link rel="stylesheet" href="../assets/css/resume.css">

<h1>Sierra Moore</h1>
<h4>Barcelona, Spain</h4>
<div class="icons">
    <a href="https://www.linkedin.com/in/sierra-moore" target="_blank"><i class="fa fa-linkedin-square" aria-hidden="true"></i></a>
    <a href="https://github.com/sierramoore" target="_blank"><i class="fa fa-github" aria-hidden="true"></i></a>
    <a href="mailto:sierra.v.moore@gmail.com"><i class="fa fa-envelope-square" aria-hidden="true"></i></a>
</div>

<h2>Summary</h2><br>
<p>I’m a naturally curious and continuous learner set out to make the
    web a more beautiful place. I enjoy creating custom user interfaces
    and am persistently working to improve my craft..</p><p class="bottom"></p>

<h2>Skills & Tools</h2>

<div class="column">
    <span>
        <h3 style="width: 100%">Programming Languages</h3>
        <ul>
            <li>HTML5</li>
            <li>CSS, SASS</li>
            <li>JavaScript</li>
            <li>React</li>
            <li>Node</li>
            <li>jQuery</li>
        </ul>
    </span>
    <span>
        <h3>Tools</h3>
        <ul>
            <li>Git / GitHub</li>
            <li>WebStorm</li>
            <li>Jira</li>
        </ul>
    </span>
    <span>
        <h3>Other</h3>
        <ul>
            <li>SDLC</li>
            <li>Manual Testing</li>
            <li>Regression Testing</li>
            <li>Creating Test Cases</li>
        </ul>
    </span><p class="bottom"></p>
</div>
<h2>Portfolio</h2>
<h3>Websites for Vest</h3>
<p>Built static informational and marketing sites for <a href="https://vesthq.com" target="_blank">vest</a>, <a href="https://harborhq.com/" target="_blank">harbor</a> and <a href="https://manifestledger.com/" target="_blank">manifest ledger</a>. Optimized sites with security, responsivity, and SEO.</p>
<ul>
    <li>Developed responsive websites supporting multiple platforms and
        browsers</li>

    <li>Optimized page load</li>

    <li>Created custom styled UI components</li>

    <li>Collaborated with designer and CEO in an agile workflow</li>

    <li>Managed DNS and applied SEO best practices</li>

    <li>Organized a work process with designers ensuring consistency of
        assets</li>
</ul>

<h3>Freelance</h3>
<p><a href="https://perfectionpaintingsb.com/" target="_blank">Perfection Painting</a> : Designed and developed informational
    site from scratch.
    <br>
     <a href="https://ustaviation.com/" target="_blank">UST Aviation</a>.  Recreated site originally made in Flash. Transferred domain registrar, hosting, and email platforms</p>


<p class="bottom"></p>


<h2>Education</h2>

<h3>General Assembly, Chicago, IL<span>3/2018</span></h3>
<p>600&#43; Hour Full Stack Web Development Program <br>
    Focused on learning best practices in object-oriented programming,
    MVC frameworks, front-end frameworks, building and using APIs, and collaborating with classmates in an agile workflow. </p>

<h3>Per Scholas, Bronx, NY<span>9/2017</span></h3>
<p>300&#43; Software Testing Training Course in partnership with Tech Talent Pipeline <br>
    Focused on learning software development methodologies, software
    testing methodologies, and programming fundamentals.
</p>

<h3>City College, Santa Barbara CA<span>11/2013</span></h3>
<p>Cosmetology Academy</p><p class="bottom"></p>


<h2>Work Experience</h2>
<h3>Freelance Web Developer, Barcelona, Spain<span>June 2019 - Present</span></h3>
<h3>Front-end Web Developer, Chicago, IL<span>May 2018 - June 2019</span></h3>


<p class="bottomest"></p>
<span class="download"><a download="Sierra_Moore_Resume" href="../assets/docs/sierra_moore_resume.pdf"><i class="fa fa-file-pdf-o" aria-hidden="true"></i> Download</a></span>
