body{
    font-family: 'Poiret One', cursive;
    font-weight: 900;
    line-height: 1.4em;
    color: black;
    padding-left: 12%;
    padding-right: 12%;
    max-width: 600px;
    margin: auto;
}
.sidebar {
    position: fixed;
    top: 8px;
    right: 8px;
}
.sidebar a {
    color: black;
    text-align: right;
    padding: 5px;
    font-size: 30px;
    display: block;
    text-decoration: none;
}
.sidebar a:hover{
    color: #72acd6;
    background-color: white;
}
.sidebar a:hover span {
    visibility: visible;
    opacity: 3;
}
.sidebar a span {
    visibility: hidden;
    opacity: 0;
    transition: opacity 1s;
    color: #72acd6;
    font-size: 20px;
}
.sidebar a i {
    width: 40px;
    text-align: center;
}
.icons{
    color: black;
    text-align: center;
    margin: auto;
    padding: 10px;
    word-spacing: 0.6em;
    font-size: 30px;
    display: block;
}
.icons a{
    color: black;
}
.icons a:hover{
    color: #72acd6;
}
h1{
    /*text-align: left;*/
    padding-bottom: 40px;
    /*right: 50%;*/
    font-size: 40pt;
    color:#72acd6;
}
ul{
    list-style-type: none;
}
li{
    font-weight: bold;
    font-size: 25px;
    text-decoration: underline;
}
img{
    width: 250px;
    height: 170px;
    filter: none;
    padding-top: 9px;
}
img:hover{
    filter: grayscale(90%);
}
a{
    color: black;
}